<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>سوبار</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <div class="logo-area">
    <img src="/images/logo.jpg" alt="لوگو شرکت">
    <h1>شرکت پخش سوبار </h1>
  </div>
  <nav>
    <a href="/">خانه</a>
    <a href="#">محصولات</a>
    <a href="#">تماس با ما</a>
  </nav>
</header>

